## .NET
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.pdb
*.exe

## IDE
.vs/
.idea/
*.swp

## NuGet
**/packages/*
*.nupkg

## Logs
logs/

## Database
*.db
*.db-shm
*.db-wal

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/

## MSIX
*.msix
*.msixbundle
*.appx
*.appxbundle
AppPackages/

## OS
Thumbs.db
Desktop.ini
.DS_Store
